.input-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 100%;
        padding: 8px 10px;
        border-radius: 5px;
        border: 1px solid grey;
    }
}