.container {
    width: 400px;
    margin-top: 150px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
    form {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 25px;
    }
    .filter-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
    }
    h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    
}


body {
    min-height: 100vh;
    background: linear-gradient(315deg, rgb(30, 32, 31) 38%, rgb(93, 97, 97));
    background-repeat: no-repeat;
}